/* content.css */
#content-pane {
    -fx-background-color: #e9eaff;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}

#content-section {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
}

#text-field {
    -fx-pref-width: 300px;
}
#credit-pane{
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-color: #DCDCDC;
    -fx-border-radius: 5px;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
}

.version-info {
      -fx-font-size: 15px;
      -fx-text-fill: #f0f0f0;
     /*-fx-text-alignment: center;*/
  }